@font-face {
    font-family: 'the_salvador_condensedregular';
    src: url('/police/thesalvador-condensed-webfont.woff2') format("woff2");
    src: url('/police/TheSalvador-Condensed.otf') format('truetype'),
    url('police/thesalvador-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


button {
    margin-left: 29%;
    width: 110px;
    cursor: pointer;
    text-transform: capitalize;
}

#bouton{

    margin-left: 29%;
    width:85px;
    height:85px;
    background:#fafafa;
    box-shadow:2px 2px 8px #aaa;
    font:bold 10px Arial;
    border-radius:50%;
    color:#555;



}

.boutons button{

    margin: auto;
    display: inline-block;
}


/*------------------------------ */


h1{
    font-family: 'Roboto', sans-serif;
    color: #F18F12;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0px;

}

h4{
     font-family: 'Roboto', sans-serif;
     color: #F18F12;
     font-size: 20px;
     text-transform: uppercase;
     font-weight: 300;
     text-align: center;
     margin-bottom: 0px;

 }

h5{
    font-family: 'Roboto', sans-serif;
    color: #40D850;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0px;

}


table{
    width:40%;
    table-layout: fixed;
}
.tbl-header{
    background-color: rgba(255,255,255,0.3);
}
.tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}
tr{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;

}
td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    height: 55px;

}

.center{

    margin-right: auto;
    margin-left: auto;

}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

table{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
}
section{
    margin: 50px;
}

img{

    width: 50px;
}

