@font-face {
    font-family: 'the_salvador_condensedregular';
    src: url('/police/thesalvador-condensed-webfont.woff2') format("woff2");
    src: url('/police/TheSalvador-Condensed.otf') format('truetype'),
    url('police/thesalvador-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


h1{

    font-family:the_salvador_condensedregular , sans-serif;

}


button {
    width: 110px;
    cursor: pointer;
    text-transform: capitalize;
}

#bouton{

    padding:6px 35px 6px 35px;
    font:Bold 13px Arial;
    background:#d34836;
    color:#fff;
    width:90px;
    border-radius:2px;
    border:none;
}