@font-face {
    font-family: 'the_salvador_condensedregular';
    src: url('/police/thesalvador-condensed-webfont.woff2') format("woff2");
    src: url('/police/TheSalvador-Condensed.otf') format('truetype'),
    url('police/thesalvador-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {

    font-family: 'the_salvador_condensedregular', sans-serif;
    font-size: 3em;

}

legend {

    font-family: 'the_salvador_condensedregular', sans-serif;
    font-size: 1em;

}

#connec{

    border:none;
    padding:10px 10px 10px 10px;
    border-radius:8px;
    background:#28AD30;
    font:bold 13px Arial;
    color:#fff;
}